<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "mirek.jpg" %>
	</div>

	<div id="content">
		<h1>Cześć!</h1>
		<p>Nazywam się Mirosław Szul i jestem programistą Ruby on Rails</p>
		<p>Jeśli jesteś zainteresowany współpracą to zapraszam Cię do kontaktu: mirek@szul.eu</p>
	</div>
</div>